.experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 265px 0;
    grid-column: 2/14;

    &__titleBox {
        @extend .cardList__titleBox;

        &--underline {
            @extend .cardList__titleBox--underline;
        }

        &--title {
            @extend .cardList__titleBox--title;
        }

        padding-bottom: 0px;
    }

    &__box {
        display: flex;
        flex-direction: row;
        min-height: 400px;
        margin-top: 50px;
        width: 100%;

        &--experienceDetail {
            width: 60%;
            min-width: 700px;
            padding-top: 30px;

            &--lastExperience {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .lastCompany {
                    display: flex;
                    margin-bottom: 8px;
                    font-size: 28px;

                    &__role {
                        font-family: $secondary-font;
                        color: $primary-color;
                    }

                    &__underline {
                        @extend .navbar--item__stick;
                        margin: 0 10px;
                        height: 28px;
                    }

                    &__companyName {
                        font-family: $secondary-font;
                    }
                }
            }
        }

        .date {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
        }

        .description {
            margin-top: 30px;
            width: 80%;
            @extend .presentation--box__myDescription;
        }
    }

    &__formation {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding-top: 30px;
        border-left: solid 2px $primary-color;

        &--title {
            width: 100%;
            font-size: 32px;
            font-family: $secondary-font;
        }

        &--box {
            margin: 50px 0 50px 10%;

            .listItem {
                display: flex;
                flex-direction: row;
                text-align: start;

                &__year {
                    width: 70px;
                    color: $primary-color;
                    font-size: $font-size-description;
                }

                &__stickAndPoint {
                    margin: 0 24px;

                    &--stick {
                        height: 90%;
                        width: 3px;
                        background-color: $primary-color-light;
                        margin: 0 auto;
                    }

                    &--point {
                        width: 12px;
                        height: 12px;
                        background-color: $primary-color-light;
                        border-radius: 100%;
                        margin: 0 auto;
                    }
                }

                &__formationInfo {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: start;
                    font-family: $secondary-font;
                    line-height: 24px;
                    width: 100%;
                    margin-bottom: 20px;

                    &--title {
                        font-size: $font-size-description;
                        color: $primary-color;
                    }

                    &--trainer {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;

                        .trainer__stick {
                            width: 3px;
                            height: 80%;
                            min-height: 18px;
                            background-color: $primary-color-light;
                            margin-right: 10px;
                        }

                        .trainer__name {
                            font-size: 14px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
