.experience {
    display: grid;
    margin: 265px 0;
    grid-column: 2/14;

    &__titleBox {
        @extend .cardList__titleBox;

        &--underline {
            @extend .cardList__titleBox--underline;
        }

        &--title {
            @extend .cardList__titleBox--title;
        }

        padding-bottom: 0px;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        text-align: start;
        padding-top: 50px;

        &--experienceDetail {
            grid-column: 1/9;

            &--lastExperience {
                padding-top: 50px;

                .lastCompany {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-bottom: 8px;
                    font-size: 28px;

                    &__role {
                        font-family: $secondary-font;
                        color: $primary-color;
                    }

                    &__underline {
                        @extend .navbar--item__stick;
                        margin: 0 10px;
                        height: 28px;
                    }

                    &__companyName {
                        font-family: $secondary-font;
                    }
                }
            }
        }

        .date {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
        }

        .description {
            margin-top: 30px;
            width: 80%;
            @extend .presentation--box__myDescription;
        }
    }

    &__formation {
        grid-column: 9/15;
        padding-top: 30px;
        border-left: solid 2px $primary-color;

        &--title {
            margin-left: 50px;
            font-size: 32px;
            font-family: $secondary-font;
        }

        &--box {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            margin-top: 50px;

            .listItem {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-column: 1/13;

                &__year {
                    grid-column: 2/3;
                    color: $primary-color;
                    font-size: $font-size-description;
                    min-width: 42px;
                }

                &__stickAndPoint {
                    grid-column: 3/4;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &--stick {
                        height: 110%;
                        width: 3px;
                        background-color: $primary-color-light;
                    }

                    &--point {
                        width: 12px;
                        height: 12px;
                        background-color: $primary-color-light;
                        border-radius: 100%;
                    }
                }

                &__formationInfo {
                    grid-column: 4/10;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    font-family: $secondary-font;
                    line-height: 24px;
                    margin-bottom: 20px;

                    &--title {
                        font-size: $font-size-description;
                        color: $primary-color;
                        grid-column: 1/3;
                    }

                    &--trainer {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        grid-column: 1/3;

                        .trainer__stick {
                            width: 3px;
                            height: 80%;
                            min-height: 18px;
                            background-color: $primary-color-light;
                            margin-right: 10px;
                        }

                        .trainer__name {
                            font-size: 14px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include media-up(xlweb) {
    .header {

        .introduction img {
            width: 80%;
            padding: 0;
            margin: 0 auto;
        }
    }

    .presentation {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
}

@include media-up(lweb) {}

@include media-up(web) {}

@include media-up(tablet) {
    .experience {
        margin: 150px 0;
        grid-column: 2/13;

        &__box {

            padding-top: 0px;

            &--experienceDetail {
                grid-column: 1/15;
            }

            .description {
                width: 90%;
            }
        }

        &__formation {
            grid-column: 1/15;
            border-left: none;
        }

        &__formation {

            &--box {

                .listItem {
                    &__year {
                        grid-column: 1/2;
                        color: $primary-color;
                        font-size: $font-size-description;
                        min-width: 42px;
                    }

                    &__stickAndPoint {

                        grid-column: 2/3;

                        &--stick {
                            height: 110%;
                            width: 2px;
                        }

                        &--point {
                            width: 8px;
                            height: 8px;
                        }
                    }

                    &__formationInfo {
                        grid-column: 3/10;
                    }
                }
            }

        }
    }
}

@include media-up(mobile) {}