.navbar {
    font-family: $secondary-font;
    font-size: $font-size-description;
    grid-column: 2/14;

    .burger,
    .navbar_menu {
        display: none;
    }

    .not_deployed_nav {
        display: flex;
    }

    &__ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: end;
        align-items: center;
    }

    &--item {
        margin-left: 35px;
        transition: all 0.3s ease-out;

        &__button {
            font-size: 16px;
            font-family: $secondary-font;
            background-color: $primary-color;
            color: $terciary-color;
            border-radius: 8px;
            padding: 8px 22px;
            transition: all 0.3s ease-out;
            border-bottom: solid 1px #FFFFFF;

            &:hover {
                transition: all 0.3s ease-out;
                background-color: $primary-color-light;
                cursor: pointer;
            }
        }

        &:hover {
            color: $primary-color;
            cursor: pointer;
        }

        &__stick {
            height: 22px;
            width: 3px;
            background-color: $primary-color-light;
            box-shadow: 0px 0px 5px 1px $primary-color-light;
            border-radius: 5px;
        }
    }
}

@include media-up(lweb) {}

@include media-up(web) {
    .navbar {
        .navbar_menu {
            display: none;
        }
    }
}

@include media-up(tablet) {
    .navbar {
        font-family: "Russo One", sans-serif;
        font-size: 18px;
        grid-column: 2/14;
        display: flex;
        border-radius: 8px;

        .burger>span {
            background-color: $primary-color-light;
            display: block;
            width: 40px;
            height: 5px;
            margin-top: 6px;
            margin-bottom: 3px;
        }

        .navbar_menu {
            display: flex;
            text-align: center;
            margin: 0 auto;
            align-items: center;
        }

        .not_deployed_nav {
            display: none;
        }

        &__ul {
            flex-direction: column;
            width: 100%;
        }

        &--item {
            transition: all 0.3s ease-out;
            margin: 15px 0px 15px 0;

            &__button {
                font-size: 16px;
            }

            .stick_navbar {
                height: 3px;
                width: 40px;
            }
        }
    }
}

@include media-up(mobile) {}