.technologiesList {
    display: flex;
    flex-direction: column;
    margin: 100px 180px 0 180px;

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        font-family: $primary-font;
        font-style: normal;
        letter-spacing: 0.04em;
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 48px;
        padding-top: 50px;
        svg {
            margin: 0 24px;
            will-change: filter;
            transition: all 0.3s;
        }
        svg:hover {
            filter: drop-shadow(0 0 20px $primary-color);
        }
    }
}
