@import "./app.scss";
@import "./header.scss";
@import "./navbar.scss";
@import "./sidebar.scss";
@import "./card";
@import "./technologies";
@import "./experience";
@import "./contact";

* {
    margin: 0;
    padding: 0;
    color: $primary-color-light;
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font;
    color-scheme: light dark;
    background-color: $terciary-color;
    box-sizing: border-box;
}