$primary-color: #FEF63E;
$primary-color-light: #FFFDDD;
$terciary-color: #0A0A18;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Russo One', sans-serif;
$font-size-description: 18px;

#root {
  margin: 0 auto;
  padding: 50px 180px;
  text-align: center;
}
