@import './app.scss';
@import './header.scss';
@import './navbar.scss';
@import './sidebar.scss';
@import './card';
@import './technologies';
@import './experience';

* {
  margin: 0;
  padding: 0;
  color: $primary-color-light;
}

body {
  font-family: $primary-font;
  color-scheme: light dark;
  background-color: $terciary-color;
  box-sizing: border-box;
  max-width: 1920px;
  min-width: 1900px;
  margin: 0 auto;
  // .borderSolid {
  //   border: solid 1px $primary-color-light;
  //   box-sizing: border-box;
  // }
}