@import './app.scss';
@import './header.scss';
@import './navbar.scss';
@import './sidebar.scss';

* {
  margin: 0;
  padding: 0;
  color: $primary-color-light;
}

body {
  font-family: $primary-font;
  color-scheme: light dark;
  background-color: $terciary-color;
  box-sizing: border-box;
  // .borderSolid {
  //   border: solid 1px $primary-color-light;
  //   box-sizing: border-box;
  // }
}

.light_image_background {
  position: fixed;
  right: -140px;
  top: 160px;
  z-index: -1;
}